#metadata
swagger: "2.0"
info:
  title: PovoLesi API
  description: API richieste dal corso di ingegneria del software II
  version: 1.0.0

#We only exchange JSONs
consumes:
  - application/json
produces:
  - application/json

#TODO: The 403 errors are not set up everywhere. Just remember to do this later

#TODO: The host should be adjusted later
host: api.nowhere.com
basePath: /v1
schemes:
  - https

#Almost all the request will require authentication
securityDefinitions:
  ApiTokenAuth:
    type: apiKey
    in: header
    name: X-API-TOKEN
    description: >
      In order to use the APIs, you must first get an authentication token (we call
      it just "token"). The token is specific to a user. It can be optained by
      calling the `/users/register` API and it has to be sent as a `X-API-TOKEN`
      header with any other API request.

#All the APIs, except for register, are required to have an api token as a header
#of their requests
security:
  - ApiTokenAuth: []

definitions:
  User:
    title: User
    type: object
    properties:
      id:
        type: integer
        description: The id that univocally identifies the user
        example: 84
      name:
        type: string
        description: The full name of the user
        example: Gianni Morandi
      badgeNumber:
        type: string
        description: The university identifier of this user. It can be the student's "numero di matricola" or the teacher's badge number
        example: 111244
      email:
        type: string
        description: The user's email
        example: gianni@morandi.cit

    required:
      - id
      - name
      - badgeNumber
      - email

  UserPermissions:
    title: Permissions
    type: object
    properties:
      manageGroups:
        type: boolean
        description: Can this user create/edit/delete user groups?

      manageTasks:
        type: boolean
        description: Can this user create/edit/delete taks?

      changePermissions:
        type: boolean
        description: Can this user change other user's permissions?

      listUsers:
        type: boolean
        description: Can this user access the list of all the users?

    required:
      - manageGroups
      - manageTasks
      - changePermissions
      - listUsers


  Group:
    title: Group
    type: object
    properties:
      id:
        type: integer
        description: A unique identifier of the group

      name:
        type: string
        description: The name associated to this group

      createdBy:
        $ref: "#/definitions/User"

    required:
      - properties
      - name
      - createdBy

  TaskPool:
    title: Task Pool
    type: object
    properties:
      id:
        type: integer

      name:
        type: string

      createdBy:
        $ref: '#/definitions/User'

    required:
      - name

  TaskDraw:
    title: Task Draw
    type: object
    properties:
      id:
        type: integer

      poolID:
        type: integer

      numQuestionsToDraw:
        type: integer

      minPerQuestionDraw:
        type: integer

    required:
      - poolID
      - numQuestionsToDraw
      - minPerQuestionDraw

  Task:
    title: Task
    type: object
    properties:
      id:
        type: integer
        example:
          1234

      question:
        type: string
        description: The question of this task
        example: What is the meaning of life?

      type:
        type: string
        enum: [openQuestion, multipleAnswer, linkSubmission]
        example: multipleAnswer

      numAnswersAllowed:
        description: >
          Used in case of multiple answer questions. Is true in case the multiple answers are allowed,
          false otherwise.
        type: boolean

      answers:
        description: >
          Used in case of multiple answer questions. Holds all the possible values that the user can choose from.
        type: array
        items:
          type: string
        example:
          [Happiness, Balance, 42]

      maxLength:
        description: >
          Used in case of open questions. It's the maximum amount of characters that is allowed in the answer.
        type: integer

    required:
      - id
      - question
      - type


  Assignment:
    title: Assignment
    type: object
    properties:
      id:
        type: integer

      name:
        type: string

      startsOn:
        type: integer

      deadline:
        type: integer

      allowsLateSubmission:
        type: boolean

      lateSubmissionDeadline:
        type: integer

      createdByUserId:
        type: integer

      assignedToGroupId:
        type: integer

      isClosed:
        type: boolean

    required:
      - name
      - startsOn
      - deadline
      - allowsLateSubmission
      - createdByUserId
      - assignedToGroupId
  
  TaskAnswer:
    title: Task Answer
    type: object
    properties:
      id:
        type: integer
      userId:
        type: integer
      taskId:
        type: integer
      assignmentId:
        type: integer
      submittedOn:
        type: integer
        
      response:
        description: >
          Used in case of open question answer.
        type: string
      
      selectedAnswers:
        description: >
          Used in case of multiple answers question. Holds all the selected answers.
        type: array
        items:
          type: string
        example:
          [42]
          
      url:
        description: >
          Used in case of link sumbission answers
        type: string
          
      mark:
        type: integer
      comment:
        type: string
        
    required:
      - id
      - userId
      - taskId
      - assignmentId
      - submittedOn

  Error:
    type: object
    properties:
      code:
        type: string
        description: A string that describes the error
      errorMessage:
        type: string
        description: A developer-friendly description of what went wrong
    required:
      - code
      - errorMessage

responses:
  Unauthorized:
    description: The caller doesn't have the needed authorization
    schema:
      $ref: "#/definitions/Error"

parameters:
  offsetParam:
    in: query
    name: offset
    required: false
    type: integer
    minimum: 0
    description: The number of items to skip before starting to collect the result set.

  limitParam:
    in: query
    name: limit
    required: false
    type: integer
    minimum: 1
    maximum: 100
    default: 20
    description: The numbers of items to return.

paths:

###########################
# UNAUTHENTICATED
###########################

  /register/:
    post:
      summary: Allows a user to register in order to receive the authentication token
      security: [] #this api can be called without the token
      tags:
        - Unauthenticated
      parameters:
        - in: body
          name: data
          description: The registration data of the user
          schema:
            type: object
            properties:
              name:
                type: string
                description: The complete name of the person in "first-name second-name" format
              email:
                type: string
              badgeNumber:
                type: string
              password:
                type: string

      responses:
        201:
          description: The user has been inserted and the associated token is generated
          schema:
            type: object
            properties:
              id:
                type: integer
                example: 123
              token:
                type: string
                example: AABBCCDDEEFFGG
        400:
          description: Could not insert the user. Probably a field is missing.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: The email address is already in use.
          schema:
            $ref: '#/definitions/Error'

  /login/:
    post:
      summary: Generates a new token for an already registered user
      security: []
      tags:
        - Unauthenticated
      description: >
        Logs the user in. This request is usually used to get a new authentication token associated to the user. After this call the old token (got by `register` or `login` call) is then released and is not valid anymore.

      responses:
        201:
          description: The new token has been generated
          schema:
            type: object
            properties:
              token:
                type: string

        400:
          description: Invalid credentials
          schema:
            $ref: '#/definitions/Error'


###########################
# USERS
###########################

  /users/me/:
    get:
      summary: Returns information about the authenticated user
      description: Retrieves the user that is authenticated by the token and
        returns it's basic data
      tags: [Current user]

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'

    put:
      summary: Updates the information about the authenticated user
      tags: [Current user]
      parameters:
        - in: body
          name: data
          schema:
            type: object
            properties:
              name:
                description: new name to assign to the user
                type: string

              badgeNumber:
                type: string

      responses:
        200:
          description: OK

  /users/me/email:
    put:
      summary: Changes the email of the authenticated user
      description:
        Changes the email of the authenticated user. The user will receive a
        confirmation mail.
      tags: [Current user]
      parameters:
        - in: body
          required: true
          name: data
          schema:
            type: object
            properties:
              newEmail:
                type: string

      responses:
        200:
          description: OK
        
        400: 
          description: Could not change email.
          schema:
            $ref: '#/definitions/Error'
      
        409:
          description: The email is already used by another user.
          schema:
            $ref: '#/definitions/Error'

  /users/me/password:
    put:
      summary: Changes the password of the authenticated user
      description:
        Changes the password of the authenticated user. The user will receive an
        email telling him/her about the password change.
      tags: [Current user]
      parameters:
        - in: body
          required: true
          name: data

          schema:
            type: object
            properties:
              newPassword:
                type: string

      responses:
        200:
          description: OK

        400:
          description: Could not change password because the password is invalid (empty, etc...)
          schema:
            $ref: '#/definitions/Error'

  /users/me/assignments:
    get:
      summary: Returns a list of assignments that are associated to the authenticated user
      tags: [Current user]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Assignment'
  
  /users/me/assignments/{assignmentId}/tasks:
    get:
      summary: Returns all tasks of an assignement assigned to me
      tags: [Current user]

      parameters:
        - in: path
          required: true
          name: assignmentId
          type: integer


      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'

        404:
          description: No assignement assigned to me is found
          schema:
            $ref: '#/definitions/Error'


  /users/me/assignments/{assignmentId}/tasks/{taskId}/answer:
    put:
      summary: Submit an answers to a task
      tags: [Current user]
      description: >
        Submit an answers to a task
        
        NOTE: If the caller hasn't the 'manageTasks' set can only submit the answers

      parameters:
        - in: path
          required: true
          name: assignmentId
          type: integer
        - in: path
          required: true
          name: taskId
          type: integer
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/TaskAnswer'

      responses:
        200:
          description: OK

        404:
          description: No task was found with the specified id
          schema:
            $ref: '#/definitions/Error'

  /users/me/task-answers:
    get:
      summary: Returns a list of task answers that are associated to the authenticated user
      tags: [Current user]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskAnswer'

  /users/me/assignments/{assignmentId}/task-answers:
    parameters:
      - in: path
        required: true
        name: assignmentId
        type: integer
    get:
      summary: Returns a list of task answers that are associated to the authenticated user given an assignment
      tags: [Current user]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskAnswer'
        404:
          description: No assignment was found with the specified id
          schema:
            $ref: '#/definitions/Error'

  /users/:
    get:
      summary: Returns all the users of the system
      description: >
        Retrieves all the users of the system.


        NOTE: The caller must have the `listUsers` permission set, otherwise
        a `403` error will be issued

      tags: [Users]

      parameters:
        - in: query
          name: sortBy
          type: string
          enum: [id, name, badgeNumber, email]

        - $ref: '#/parameters/offsetParam'
        - $ref: '#/parameters/limitParam'

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/User'

        403:
          $ref: "#/responses/Unauthorized"

  /users/{userId}:
    get:
      summary: Returns a specific user given it's ID
      tags: [Users]
      parameters:
        - in: path
          name: userId
          required: true
          type: integer
          description: The id of the user

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'
            
        403:
          $ref: "#/responses/Unauthorized"

        404:
          description: No users were found with the specified id
          schema:
            $ref: '#/definitions/Error'

  /users/{userId}/permissions:
    parameters:
    - in: path
      name: userId
      required: true
      type: integer
      description: The id of the user

    get:
      summary: Returns all the permissions of a specific user
      description: >
        Returns the permissions of a specific user

        NOTE: The caller must have the `changePermissions` permission set
      tags: [Users]

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserPermissions'


    put:
      summary: Changes all the permissions of a specific user
      tags: [Users]
      description: >
        Changes all the permissions of a specific user


        NOTE: The caller must have the `changePermissions` permission set

      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/UserPermissions'

      responses:
        200:
          description: OK

        400:
          description: Could not change permissions. Happens when trying to change the permission of the admin
          schema:
            $ref: '#/definitions/Error'

        403:
          $ref: "#/responses/Unauthorized"

        404:
          description: No users were found with the specified id
          schema:
            $ref: '#/definitions/Error'

  /users/{userId}/assignments:
    parameters:
      - in: path
        required: true
        name: userId
        type: integer

    get:
      summary: Returns a list of assignments that are associated to the specified user
      tags: [Users]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Assignment'



###########################
# GROUPS
###########################

  /groups/:
    get:
      summary: Returns a list of all the groups (classes)
      description: >
        Returns a list of all the groups of users


        NOTE: The caller must have the `manageGroups` permission set, otherwise a 403 error will be issued

      tags: [Groups]
      parameters:
        - in: query
          name: sortBy
          type: string
          enum: [id, name]

        - $ref: '#/parameters/offsetParam'
        - $ref: '#/parameters/limitParam'

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Group'

        403:
          $ref: "#/responses/Unauthorized"

    post:
      summary: Creates a new group
      tags: [Groups]
      responses:
        201:
          description: The group was successfully created. The id of the generated group is then returned.
          schema:
            type: object
            properties:
              groupId:
                type: integer
                example: 12

        400:
          description: Something went wrong when trying to create a new group. Maybe the name of the groups is not valid or already taken.
          schema:
            $ref: '#/definitions/Error'

        403:
          $ref: "#/responses/Unauthorized"

  /groups/{groupId}:
    get:
      summary: Retrieves the group having a given id

      description: >
        Retrieves a group having a given id


        NOTE: The caller must have the `manageGroups` permission set, otherwise a 403 error will be issued
      tags: [Groups]
      parameters:
        - in: path
          name: groupId
          type: integer
          required: true

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group'

        403:
          $ref: "#/responses/Unauthorized"


    delete:
      summary: Deletes the group having a given id

      description: >
        Deletes the entire group


        NOTE: The caller must have the `manageGroups` permission set, otherwise a 403 error will be issued
      tags: [Groups]
      parameters:
        - in: path
          name: groupId
          type: integer
          required: true

      responses:
        204:
          description: The group was successfully deleted

        404:
          description: The group to delete was not found

        403:
          $ref: "#/responses/Unauthorized"

  /groups/{groupId}/users:
    parameters:
      - in: path
        name: groupId
        type: integer
        required: true

    get:
      summary: Retrieves all the users of a given group

      description: >
        Retrieves all the users of a give group


        NOTE: The caller must have the `manageGroups` permission set, otherwise a 403 error will be issued
      tags: [Groups]

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/User'

    post:
      summary: Adds a new user to the group
      description: >
        Adds a new user to the group


        NOTE: The caller must have the `manageGroups` permission set, otherwise a 403 error will be issued
      tags: [Groups]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              userId:
                type: integer

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Group'

        400:
          description: Could not add a user to the group, probably becaus the user is already part of the group

          schema:
            $ref: '#/definitions/Error'

        403:
          $ref: "#/responses/Unauthorized"

  /groups/{groupId}/users/{userId}:
    parameters:
      - in: path
        name: groupId
        type: integer
        required: true

      - in: path
        name: userId
        type: integer
        required: true

    delete:
      summary: Removes a user from the group
      description: >
        Removes a user from the group


        NOTE: The caller must have the `manageGroups` permission set, otherwise a 403 error will be issued
      tags: [Groups]

      responses:
        204:
          description: The user was successfully removed from the group

        400:
          description: Could not remove the user to the group, probably because the user is not part of the group

          schema:
            $ref: '#/definitions/Error'

        403:
          $ref: "#/responses/Unauthorized"

        404:
          description: User or group not found
          schema:
            $ref: '#/definitions/Error'


###########################
# TASKS
###########################
  /tasks/:
    get:
      summary: Returns a list of all the tasks
      description: >
        Returns a list of all the tasks


        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Tasks]

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'

        403:
          $ref: '#/responses/Unauthorized'

    post:
      summary: Adds a new task
      description: >
        Adds a new task. The task can be expressed in one of 3 different
        syntaxes, accordingly to the types of the task that you want to create.


        The property `type` is used to distinguish between different types of tasks
      tags: [Tasks]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/Task'

      responses:
        204:
          description: The new task has been successfully created

  /tasks/{taskId}:
    parameters:
      - in: path
        required: true
        name: taskId
        type: integer

    get:
      summary: Returns a task with the given id
      tags: [Tasks]
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Task'

    put:
      summary: Updates a task with the given id
      tags: [Tasks]
      parameters:
        - in: body
          name: data
          schema:
            $ref: '#/definitions/Task'

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Task'

    delete:
      summary: Deletes a task with the given id
      tags: [Tasks]
      responses:
        204:
          description: OK

###########################
# TASK POOLS
###########################
  /task-pools/:
    get:
      summary: Returns a list of all the task pools
      tags: [Task pools]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskPool'

    post:
      summary: Creates a new task pool
      tags: [Task pools]
      parameters:
        - in: body
          required: true
          name: data
          schema:
            $ref: '#/definitions/TaskPool'

      responses:
        201:
          description: OK

  /task-pools/{poolId}:
    parameters:
      - in: path
        name: poolId
        required: true
        type: integer

    get:
      summary: Returns the task pool having the given id
      tags: [Task pools]
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TaskPool'

    put:
      summary: Updates the task pool
      tags: [Task pools]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            type: object
            properties:
              name:
                type: string

      responses:
        200:
          description: OK

    delete:
      summary: Deletes the task pool having a given id
      tags: [Task pools]
      responses:
        204:
          description: OK
          schema:
            $ref: '#/definitions/TaskPool'


  /task-pools/{poolId}/tasks:
    get:
      summary: Returns a list of all the task that are part of this pool
      tags: [Task pools]
      parameters:
      - in: path
        name: poolId
        required: true
        type: integer

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'


  /task-pools/{poolId}/tasks/{taskId}:
    parameters:
      - in: path
        name: poolId
        required: true
        type: integer

      - in: path
        name: taskId
        required: true
        type: integer

    put:
      summary: Adds a new task to the pool
      tags: [Task pools]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            type: integer

      responses:
        201:
          description: The new task has been created

    delete:
      summary: Removes a task from the pool
      tags: [Task pools]
      responses:
        204:
          description: OK



###########################
# ASSIGNMENTS
###########################
  /assignments/:
    get:
      summary: Returns a list of all the assignments
      description: >
        Returns a list of all the assignments


        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Assignments]

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Assignment'

        403:
          $ref: '#/responses/Unauthorized'

    post:
      summary: Adds a new assignment
      description: >
        Adds a new assignment

      tags: [Assignments]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/Assignment'

      responses:
        204:
          description: The new assignment has been successfully created

  /assignments/{assignmentId}:
    parameters:
      - in: path
        required: true
        name: assignmentId
        type: integer

    get:
      summary: Returns an assignment with the given id
      tags: [Assignments]
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Assignment'

    put:
      summary: Updates an assignment with the given id
      tags: [Assignments]
      parameters:
        - in: body
          name: data
          schema:
            $ref: '#/definitions/Assignment'

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Assignment'

    delete:
      summary: Deletes an assignment with the given id
      tags: [Assignments]
      responses:
        204:
          description: OK

  /assignments/{assignmentId}/close:
    post:
      summary: Closes the assignment with the given id
      description: Closes the assignment with the given id. No more answers can be submitted.
      tags: [Assignments]
      parameters:
        - in: path
          required: true
          name: assignmentId
          type: integer
      responses:
        204:
          description: OK

  /assignments/{assignmentId}/draws:
    parameters:
      - in: path
        required: true
        name: assignmentId
        type: integer

    get:
      summary: Returns all the draws of the assignment
      tags: [Assignments]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskDraw'

    post:
      summary: Adds a new draw to the assignment
      tags: [Assignments]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/TaskDraw'

      responses:
        204:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskDraw'

  /assignments/{assignmentId}/draws/{drawId}:
    parameters:
      - in: path
        required: true
        name: assignmentId
        type: integer

      - in: path
        required: true
        name: drawId
        type: integer

    get:
      summary: Returns the draw with the given id, associated to the assignment
      tags: [Assignments]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskDraw'

    put:
      summary: Updates the draw with the given id, associated to the assignment
      tags: [Assignments]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/TaskDraw'

      responses:
        204:
          description: OK

    delete:
      description: Deletes the draw with the given id, associated to the assignment
      tags: [Assignments]
      responses:
        204:
          description: The draw was removed from the assignment
          
  /assignemnts/{assignmentId}/task-answers:
    parameters:
      - in: path
        required: true
        name: assignmentId
        type: integer

    get:
      summary: Returns a list of all task answers given an assignment
      description: >
        Returns a list of all task answers given an assignment


        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Task answers]

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskAnswer'

        403:
          $ref: '#/responses/Unauthorized'
          
###########################
# TASK ANSWERS
###########################

  /task-answers/:
    get:
      summary: Returns a list of all task answers
      description: >
        Returns a list of all task answers


        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Task answers]

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskAnswer'

        403:
          $ref: '#/responses/Unauthorized'
    post:
      summary: Adds a new task answer
      description: >
        Adds a new task answer


        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Task answers]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/TaskAnswer'

      responses:
        201:
          description: OK
          
        403:
          $ref: '#/responses/Unauthorized'
          
    put:
      summary: Updates the task answer with the given id
      tags: [Task answers]
      parameters:
        - in: body
          name: data
          required: true
          schema:
            $ref: '#/definitions/TaskAnswer'

      responses:
        201:
          description: OK
        
        403:
          $ref: '#/responses/Unauthorized'  

    delete:
      summary: Deletes the task with the given id
      description: Deletes the task with the given id
      tags: [Task answers]
      responses:
        204:
          description: The task answer has been removed
        403:
          $ref: '#/responses/Unauthorized'
