#metadata
swagger: "2.0"
info:
  title: PovoLesi API
  description: API richieste dal corso di ingegneria del software II
  version: 1.0.0

#We only exchange JSONs
consumes:
- application/json
produces:
- application/json

#TODO: The 403 errors are not set up everywhere. Just remember to do this later

#TODO: The host should be adjusted later
host: api.nowhere.com
basePath: /v1
schemes:
- https

#Almost all the request will require authentication
securityDefinitions:
  ApiTokenAuth:
    type: apiKey
    in: header
    name: X-API-TOKEN
    description: >
      In order to use the APIs, you must first get an authentication token (we call
      it just "token"). The token is specific to a user. It can be optained by
      calling the `/users/register` API and it has to be sent as a `X-API-TOKEN`
      header with any other API request.

    #All the APIs, except for register, are required to have an api token as a header
#of their requests
security:
- ApiTokenAuth: []

definitions:
  User:
    title: User
    type: object
    properties:
      id:
        type: integer
        description: The id that univocally identifies the user
        example: 84
      name:
        type: string
        description: The full name of the user
        example: Gianni Morandi
      badgeNumber:
        type: string
        description: The university identifier of this user. It can be the student's "numero di matricola" or the teacher's badge number
        example: 111244
      email:
        type: string
        description: The user's email
        example: gianni@morandi.cit

    required:
    - id
    - name
    - badgeNumber
    - email

  UserPermission:
    title: UserPermission
    type: object
    properties:
      userId:
        type: integer
        description: Id of the user

      groupId:
        type: integer
        description: Id of the group for wchich this permission applies

      manageTasks:
        type: boolean
        description: Can this user add/remove/edit taks of assignments of this group?

      manageUsers:
        type: boolean
        description: Can this user add/remove/list users of this group?

      changePermissions:
        type: boolean
        description: Can this user change permissions of other users of this group?

    required:
    - userId
    - groupId
    - manageTasks
    - manageUsers
    - changePermissions


  UserGroup:
    title: User Group
    type: object
    properties:
      id:
        type: integer
        description: A unique identifier of the group of users

      name:
        type: string
        description: The name associated to this group of users

      createdBy:
        $ref: "#/definitions/User"

      users:
        type: array
        items:
          $ref: '#/definitions/UserPermission'


    required:
    - properties
    - name
    - createdBy

  TaskPool:
    title: Task Pool
    type: object
    properties:
      id:
        type: integer

      name:
        type: string

      createdBy:
        $ref: '#/definitions/User'

    required:
    - name

  TaskDraw:
    title: Task Draw
    type: object
    properties:
      id:
        type: integer

      poolID:
        type: integer

      numQuestionsToDraw:
        type: integer

      minPerQuestionDraw:
        type: integer

    required:
    - poolID
    - numQuestionsToDraw
    - minPerQuestionDraw

  Task:
    title: Task
    type: object
    properties:
      id:
        type: integer
        example:
          1234

      question:
        type: string
        description: The question of this task
        example: What is the meaning of life?

      type:
        type: string
        enum: [openQuestion, multipleAnswer, linkSubmission]
        example: multipleAnswer

      multipleChoicesAllowed:
        description: >
          Used in case of multiple answer questions. Is true in case the multiple answers are allowed,
          false otherwise.
        type: boolean

      choices:
        description: >
          Used in case of multiple answer questions. Holds all the possible values that the user can choose from.
        type: array
        items:
          type: string
        example:
          [Happiness, Balance, 42]

      maxLength:
        description: >
          Used in case of open questions. It's the maximum amount of characters that is allowed in the answer.
        type: integer

    required:
    - id
    - question
    - type


  Assignment:
    title: Assignment
    type: object
    properties:
      id:
        type: integer

      name:
        type: string

      startsOn:
        type: integer

      submissionsDeadline:
        type: integer

      allowsLateSubmission:
        type: boolean

      lateSubmissionsDeadline:
        type: integer

      peerReviewsDeadline:
        type: integer

      createdByUserId:
        type: integer

      assignedToUserGroupId:
        type: integer

    required:
    - name
    - startsOn
    - submissionsDeadline
    - allowsLateSubmission
    - lateSubmissionsDeadline
    - peerReviewsDeadline
    - createdByUserId
    - assignedToUserGroupId

  TaskAnswer:
    title: Task Answer
    type: object
    properties:
      id:
        type: integer
      userId:
        type: integer
      taskId:
        type: integer
      assignmentId:
        type: integer
      submittedOn:
        type: integer

      answer:
        description: >
          Used in case of open question answer.
        type: string

      selectedAnswers:
        description: >
          Used in case of multiple answers question. Holds all the selected answers.
        type: array
        items:
          type: string
        example:
          [42]

      url:
        description: >
          Used in case of link submission answers
        type: string

      mark:
        type: integer
      comment:
        type: string

    required:
    - id
    - userId
    - taskId
    - assignmentId
    - submittedOn

  PeerReview:
    type: object
    properties:
      id:
        type: integer
      answerId:
        type: integer
      reviewer:
        $ref: '#/definitions/User'

      mark:
        type: integer
        description: A mark from 1 to 10. Returns 0 if the peer review is not filled.
        example: 10
      comment:
        type: string
        description: An optional comment. Returns null if the peer review is not filled.

    required:
    - answerId
    - comment

  Error:
    type: object
    properties:
      code:
        type: string
        description: A string that describes the error
      errorMessage:
        type: string
        description: A developer-friendly description of what went wrong
    required:
    - code
    - errorMessage

responses:
  Unauthorized:
    description: The caller doesn't have the needed authorization
    schema:
      $ref: "#/definitions/Error"

parameters:
  offsetParam:
    in: query
    name: offset
    required: false
    type: integer
    minimum: 0
    description: The number of items to skip before starting to collect the result set.

  limitParam:
    in: query
    name: limit
    required: false
    type: integer
    minimum: 1
    maximum: 100
    default: 20
    description: The numbers of items to return.

paths:

  ###########################
  # UNAUTHENTICATED
  ###########################

  /register/:
    post:
      summary: Allows a user to register in order to receive the authentication token
      security: [] #this api can be called without the token
      tags:
      - Unauthenticated
      parameters:
      - in: body
        name: data
        description: The registration data of the user
        schema:
          type: object
          properties:
            name:
              type: string
              description: The complete name of the person in "first-name second-name" format
            email:
              type: string
            badgeNumber:
              type: string
            password:
              type: string

      responses:
        201:
          description: The user has been inserted and the associated token is generated
          schema:
            type: object
            properties:
              userId:
                type: integer
                example: 123
              token:
                type: string
                example: AABBCCDDEEFFGG
        400:
          description: Could not insert the user. Probably a field is missing.
          schema:
            $ref: '#/definitions/Error'
        409:
          description: The email address is already in use.
          schema:
            $ref: '#/definitions/Error'

  /login/:
    post:
      summary: Generates a new token for an already registered user
      security: []
      tags:
      - Unauthenticated
      description: >
        Logs the user in. This request is usually used to get a new authentication token associated to the user. After this call the old token (got by `register` or `login` call) is then released and is not valid anymore.

      responses:
        201:
          description: The new token has been generated
          schema:
            type: object
            properties:
              userId:
                type: string
              token:
                type: string

        400:
          description: Invalid credentials
          schema:
            $ref: '#/definitions/Error'


  ###########################
  # USERS
  ###########################

  /users/me/:
    get:
      summary: Returns information about the authenticated user
      description: Retrieves the user that is authenticated by the token and
        returns it's basic data
      tags: [Current user]

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'

    put:
      summary: Updates the information about the authenticated user
      tags: [Current user]
      parameters:
      - in: body
        name: data
        schema:
          type: object
          properties:
            name:
              description: new name to assign to the user
              type: string

            badgeNumber:
              type: string

      responses:
        200:
          description: OK

  /users/me/email:
    put:
      summary: Changes the email of the authenticated user
      description:
        Changes the email of the authenticated user. The user will receive a
        confirmation mail.
      tags: [Current user]
      parameters:
      - in: body
        required: true
        name: data
        schema:
          type: object
          properties:
            newEmail:
              type: string

      responses:
        200:
          description: OK

        400:
          description: Could not change email.
          schema:
            $ref: '#/definitions/Error'

        409:
          description: The email is already used by another user.
          schema:
            $ref: '#/definitions/Error'

  /users/me/password:
    put:
      summary: Changes the password of the authenticated user
      description:
        Changes the password of the authenticated user. The user will receive an
        email telling him/her about the password change.
      tags: [Current user]
      parameters:
      - in: body
        required: true
        name: data

        schema:
          type: object
          properties:
            newPassword:
              type: string

      responses:
        200:
          description: OK

        400:
          description: Could not change password because the password is invalid (empty, etc...)
          schema:
            $ref: '#/definitions/Error'

  /users/me/assignments:
    get:
      summary: Returns a list of assignments that are associated to the authenticated user
      tags: [Current user]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Assignment'

  /users/me/assignments/{assignmentId}:
    get:
      summary: Returns an assignement assigned to me
      tags: [Current user]

      parameters:
      - in: path
        required: true
        name: assignmentId
        type: integer


      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Assignment'

        404:
          description: The assignement is not found
          schema:
            $ref: '#/definitions/Error'

  /users/me/peer-reviews:
    get:
      summary: Return the list of peer reviews that the authenticated users can work on, grouped by the assignments
      tags: [Current user]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              type: object
              properties:
                assignment:
                  $ref: '#/definitions/Assignment'

                peerReviews:
                  type: array
                  items:
                    $ref: '#/definitions/PeerReview'

  /users:
    get:
      summary: Returns all the users of the system
      description: >
        Retrieves all the users of the system.


        NOTE: The caller must have the `listUsers` permission set, otherwise
        a `403` error will be issued

      tags: [Users]

      parameters:
      - in: query
        name: sortBy
        type: string
        enum: [id, name, badgeNumber, email]

      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/limitParam'

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/User'

        403:
          $ref: "#/responses/Unauthorized"

  /users/{userId}:
    get:
      summary: Returns a specific user given it's ID
      tags: [Users]
      parameters:
      - in: path
        name: userId
        required: true
        type: integer
        description: The id of the user

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/User'

        403:
          $ref: "#/responses/Unauthorized"

        404:
          description: No users were found with the specified id
          schema:
            $ref: '#/definitions/Error'

  /users/{userId}/assignments:
    parameters:
    - in: path
      required: true
      name: userId
      type: integer

    get:
      summary: Returns a list of assignments that are associated to the specified user
      tags: [Users]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Assignment'

  ###########################
  # USER GROUPS
  ###########################

  /user-groups:
    get:
      summary: Returns a list of all the groups of users (classes)
      description: >
        Returns a list of all the groups of users (classes)


        NOTE: The caller must have the `manageUserGroups` permission set, otherwise a 403 error will be issued

      tags: [User Groups]
      parameters:
      - in: query
        name: sortBy
        type: string
        enum: [id, name]

      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/limitParam'

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/UserGroup'

        403:
          $ref: "#/responses/Unauthorized"

    post:
      summary: Creates a new group of users
      tags: [User Groups]
      responses:
        201:
          description: The group of users was successfully created. The id of the generated group is then returned.
          schema:
            type: object
            properties:
              userGroupId:
                type: integer
                example: 12

        400:
          description: Something went wrong when trying to create a new group of users. Maybe the name of the group is not valid or already taken.
          schema:
            $ref: '#/definitions/Error'

        403:
          $ref: "#/responses/Unauthorized"

  /user-groups/{userGroupId}:
    get:
      summary: Retrieves the group of users having a given id

      description: >
        Retrieves a group of users having a given id


        NOTE: The caller must have the `manageUserGroups` permission set, otherwise a 403 error will be issued
      tags: [User Groups]
      parameters:
      - in: path
        name: userGroupId
        type: integer
        required: true

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/UserGroup'

        403:
          $ref: "#/responses/Unauthorized"


    delete:
      summary: Deletes the group of users having a given id

      description: >
        Deletes the entire group of users


        NOTE: The caller must have the `manageUserGroups` permission set, otherwise a 403 error will be issued
      tags: [User Groups]
      parameters:
      - in: path
        name: userGroupId
        type: integer
        required: true

      responses:
        204:
          description: The group of users was successfully deleted

        404:
          description: The group of users to delete was not found

        403:
          $ref: "#/responses/Unauthorized"

  ###########################
  # TASKS
  ###########################
  /tasks:
    get:
      summary: Returns a list of all the tasks
      description: >
        Returns a list of all the tasks


        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Tasks]

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'

        403:
          $ref: '#/responses/Unauthorized'

    post:
      summary: Adds a new task
      description: >
        Adds a new task. The task can be expressed in one of 3 different
        syntaxes, accordingly to the types of the task that you want to create.


        The property `type` is used to distinguish between different types of tasks
      tags: [Tasks]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/Task'

      responses:
        204:
          description: The new task has been successfully created
          schema:
            type: object
            properties:
              taskId:
                type: integer
                example: 12


  /tasks/{taskId}:
    parameters:
    - in: path
      required: true
      name: taskId
      type: integer

    get:
      summary: Returns a task with the given id
      tags: [Tasks]
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Task'

    put:
      summary: Updates a task with the given id
      tags: [Tasks]
      parameters:
      - in: body
        name: data
        schema:
          $ref: '#/definitions/Task'

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Task'

    delete:
      summary: Deletes a task with the given id
      tags: [Tasks]
      responses:
        204:
          description: OK

  ###########################
  # TASK POOLS
  ###########################
  /task-pools:
    get:
      summary: Returns a list of all the task pools
      tags: [Task pools]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskPool'

    post:
      summary: Creates a new task pool
      tags: [Task pools]
      parameters:
      - in: body
        required: true
        name: data
        schema:
          $ref: '#/definitions/TaskPool'

      responses:
        201:
          description: OK
          schema:
            type: object
            properties:
              taskPoolId:
                type: integer
                example: 12


  /task-pools/{poolId}:
    parameters:
    - in: path
      name: poolId
      required: true
      type: integer

    get:
      summary: Returns the task pool having the given id
      tags: [Task pools]
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TaskPool'

    put:
      summary: Updates the task pool
      tags: [Task pools]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          type: object
          properties:
            name:
              type: string

      responses:
        200:
          description: OK

    delete:
      summary: Deletes the task pool having a given id
      tags: [Task pools]
      responses:
        204:
          description: OK
          schema:
            $ref: '#/definitions/TaskPool'


  /task-pools/{poolId}/tasks:
    get:
      summary: Returns a list of all the task that are part of this pool
      tags: [Task pools]
      parameters:
      - in: path
        name: poolId
        required: true
        type: integer

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Task'


  /task-pools/{poolId}/tasks/{taskId}:
    parameters:
    - in: path
      name: poolId
      required: true
      type: integer

    - in: path
      name: taskId
      required: true
      type: integer

    put:
      summary: Adds a new task to the pool
      tags: [Task pools]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          type: integer

      responses:
        201:
          description: The new task has been created

    delete:
      summary: Removes a task from the pool
      tags: [Task pools]
      responses:
        204:
          description: OK



  ###########################
  # ASSIGNMENTS
  ###########################
  /assignments:
    get:
      summary: Returns a list of all the assignments
      description: >
        Returns a list of all the assignments


        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Assignments]

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Assignment'

        403:
          $ref: '#/responses/Unauthorized'

    post:
      summary: Adds a new assignment
      description: >
        Adds a new assignment

      tags: [Assignments]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/Assignment'

      responses:
        201:
          description: The new assignment has been successfully created
          schema:
            type: object
            properties:
              assignmentId:
                type: integer
                example: 12


  /assignments/{assignmentId}:
    parameters:
    - in: path
      required: true
      name: assignmentId
      type: integer

    get:
      summary: Returns an assignment with the given id
      tags: [Assignments]
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Assignment'

    put:
      summary: Updates an assignment with the given id
      tags: [Assignments]
      parameters:
      - in: body
        name: data
        schema:
          $ref: '#/definitions/Assignment'

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Assignment'

    delete:
      summary: Deletes an assignment with the given id
      tags: [Assignments]
      responses:
        204:
          description: OK

  /assignments/{assignmentId}/close:
    post:
      summary: Closes the assignment with the given id
      description: Closes the assignment with the given id. No more answers can be submitted.
      tags: [Assignments]
      parameters:
      - in: path
        required: true
        name: assignmentId
        type: integer
      responses:
        204:
          description: OK

  /assignments/{assignmentId}/draws:
    parameters:
    - in: path
      required: true
      name: assignmentId
      type: integer

    get:
      summary: Returns all the draws of the assignment
      tags: [Assignments]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskDraw'

    put:
      summary: Adds a new draw to the assignment
      tags: [Assignments]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/TaskDraw'

      responses:
        204:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskDraw'

  /assignments/{assignmentId}/draws/{drawId}:
    parameters:
    - in: path
      required: true
      name: assignmentId
      type: integer

    - in: path
      required: true
      name: drawId
      type: integer

    get:
      summary: Returns the draw with the given id, associated to the assignment
      tags: [Assignments]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskDraw'

    put:
      summary: Updates the draw with the given id, associated to the assignment
      tags: [Assignments]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/TaskDraw'

      responses:
        204:
          description: OK

    delete:
      description: Deletes the draw with the given id, associated to the assignment
      tags: [Assignments]
      responses:
        204:
          description: The draw was removed from the assignment

  /assignemnts/{assignmentId}/task-answers:
    parameters:
    - in: path
      required: true
      name: assignmentId
      type: integer

    get:
      summary: Returns a list of all task answers given an assignment
      description: >
        Returns a list of all task answers given an assignment


        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Task answers]

      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskAnswer'

        403:
          $ref: '#/responses/Unauthorized'

  ###########################
  # TASK ANSWERS
  ###########################

  /task-answers/:
    get:
      summary: Returns a list of all task answers
      description: >
        Returns a list of all task answers

        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued
      tags: [Task answers]
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/TaskAnswer'

        403:
          $ref: '#/responses/Unauthorized'

    post:
      summary: Adds a new task answer
      description: >
        Adds a new task answer

        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued

      tags: [Task answers]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/TaskAnswer'
      responses:
        201:
          description: OK

        403:
          $ref: '#/responses/Unauthorized'

  /task-answers/{taskAnswerId}/:
    parameters:
    - in: path
      required: true
      name: taskAnswerId
      type: integer

    get:
      summary: Return a task answers given an id
      description: >
        Return a task answers given an id

        NOTE: The caller must have the `manageTasks` permission set, otherwise a 403 error will be issued
      tags: [Task answers]
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/TaskAnswer'
        403:
          $ref: '#/responses/Unauthorized'

    put:
      summary: Updates the task answer with the given id
      tags: [Task answers]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/TaskAnswer'
      responses:
        201:
          description: OK
        403:
          $ref: '#/responses/Unauthorized'

    delete:
      summary: Deletes the task with the given id
      description: Deletes the task with the given id
      tags: [Task answers]
      responses:
        204:
          description: The task answer has been removed
        403:
          $ref: '#/responses/Unauthorized'

  /peer-reviews/{reviewId}:
    parameters:
    - in: path
      required: true
      name: reviewId
      type: integer

    get:
      summary: Returns a single peer review.
      tags: [Peer reviews]
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PeerReview'

        404:
          description: No peer review was found with the specified id
          schema:
            $ref: '#/definitions/Error'

    put:
      summary: >
        Submits a peer review. The user can only submit peer reviews that are assigned to him/her.

      tags: [Current user]
      parameters:
      - in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/PeerReview'

      responses:
        200:
          description: OK
        404:
          description: No task was found with the specified id
          schema:
            $ref: '#/definitions/Error'